 body {
     background-color: rgb(120, 118, 101);
     color: white;
 }

 h1, h3 {
     color: #3c568a;
     font-family: 'Courier New', Courier, monospace;
 }

 .mark {
     color: yellow;
 }

 #idMood img{
    width: 20%;
 }

 .clsComment {
     text-align: left;
 }

ol#idMovieList {
    margin-left: 40px;
    transform: rotate(180deg);
}
ol#idMovieList > li {
    transform: rotate(-180deg);
}

table tr td:first-child{
    color: yellow;
}

a {
    color: rgb(107, 53, 53);
    text-decoration: none;
}
a:visited {
    color: blueviolet;
}