 body {
     background-color: rgb(120, 118, 101);
     color: rgba(235, 232, 232, 0.877);
 }
h1{
    font-size: 28pt;
}
h3{
    font-size: 18pt;
}
 h1, h3 {
     color: #39445a;
     font-family: 'Courier New', Courier, monospace;
 }

 .mark {
     color: rgba(255, 255, 0, 0.767);
 }

 #idMood img{
    width: 20%;
 }

 .clsComment {
     text-align: left;
 }

ol#idMovieList {
    margin-left: 40px;
    transform: rotate(180deg);
}
ol#idMovieList > li {
    transform: rotate(-180deg);
}

table tr td:first-child{
    color: rgba(255, 255, 0, 0.767);
}

a {
    color: rgb(107, 53, 53);
    text-decoration: none;
}
a:visited {
    color: rgb(74, 84, 134);
}