header {
    background-color: lightblue;
    height: 100px;
    text-align: center;
    padding-top: 30px;
}

.box {
    height: 300px;  
    flex-basis: 33.33%;
}
@media(max-width:600px){
    main #col1 {
        flex-basis: 50%;
    }
    main #col2 {
        flex-basis: 100%;
        order: 3;
    }
    main #col3 {
        flex-basis: 50%;
    }
}
.menu {
    height: 40px;
    background-color: #406156;
    color: white;
}
.menu div{
    border-right: 1px solid black;
}

main {
    display: flex;
    flex-wrap: wrap;
}
main #col1 {
    background-color: rgba(128, 128, 128, 0.623);
}
main #col2 {
    background-color: rgba(156, 152, 152, 0.699);
}
main #col3 {
    background-color: rgb(128, 128, 128);
}

footer {
    background-color: #406156;
    height: 100px;
    text-align: center;
    color: white;
    padding-top: 30px;
}

.menu {
    display: flex;
}