.page-title {
    margin-left: 15%;
    font-size: 25px;
    padding: 10px;
}
.btns {
    text-align: right;
}
.btns button:nth-child(2) {
    margin: 0 30px 0 30px;
}
.navbar {
    background-color: #30a4e7;
}
.navbar .first-item {
    font-size: 22px;
    color: white;
    padding-top: 5px;
    margin: 0 40px 0 10px;
}

.navbar .nav-item {
    color: #ffffff;
    border-left: 1px solid #ffffff;
    padding: 0 20px 0 20px;
    font-size: 16px;
}
.nav-link {
    color: #d6ecf8 !important;
}